body {
  font-family: sans-serif;
  text-align: center;
  background-color: #f5f5f5;
  margin: 1rem 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px auto;
  width: 400px;
  border: 2px solid #cacaca;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.color-selection,
.finger-selection,
.result {
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 3px;
  cursor: pointer;
}

.result p {
  font-weight: bold;
  font-size: 16px;
}

.color-btn {
  background-color: transparent;
  font-weight: 700;
}

.color-btn.red {
  color: red;
}

.color-btn.orange {
  color: orange;
}

.color-btn.yellow {
  color: gold;
}

.color-btn.green {
  color: forestgreen;
}

.color-btn.blue {
  color: dodgerblue;
}

.color-btn.indigo {
  color: indigo;
}

.color-btn.violet {
  color: purple;
}

.color-btn.active {
  background-color: #b3b3b3;
}
